* {
  font-family: sans-serif;
}
body {
  background-color: #FEEBEB;
  color: Grey;
}

h1{
	color: #5A5140;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p{
  font-weight: lighter;
  font-family: sans-serif;	
}